<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>WebINV</display-name>

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ru.kroshchenko.ruven.controllers.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            ru.kroshchenko.ruven.config.PropertiesInitServletContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>ru.kroshchenko.ruven.core.SessionPoolManager</listener-class>
    </listener>

    <context-param>
        <param-name>environment</param-name>
        <param-value>P</param-value>
    </context-param>

    <!--е Update configuration period, in hours. 0 - do not update.
    Also, when >0, conf will be updated on every app start -->

    <context-param>
        <param-name>update_frequency</param-name>
        <param-value>24</param-value>
    </context-param>

    <!-- Where company language files will be stored -->

    <context-param>
        <param-name>path</param-name>
        <param-value>d:\webinv\path\</param-value>
    </context-param>

    <!-- Where uploaded by user files will be stored -->

    <context-param>
        <param-name>upload_root</param-name>
        <param-value>d:\webinv\temp\</param-value>
    </context-param>

    <!-- Where serialised surveys will be stored -->

    <session-config>
        <session-timeout>36000</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>root/login.xhtml</welcome-file>
        <!--<welcome-file>portal/login.xhtml</welcome-file>-->
    </welcome-file-list>

    <resource-env-ref>
        <!-- Enable Weld CDI, also needs META-INF/context.xml entry -->
        <resource-env-ref-name>BeanManager</resource-env-ref-name>
        <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
    </resource-env-ref>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>PortalAuthenticationFilter</filter-name>
        <filter-class>ru.kroshchenko.ruven.portal.PortalAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PortalAuthenticationFilter</filter-name>
        <url-pattern>/portal/restricted/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RootAuthenticationFilter</filter-name>
        <filter-class>ru.kroshchenko.ruven.restricted.root.RootAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RootAuthenticationFilter</filter-name>
        <url-pattern>/root/restricted/*</url-pattern>
    </filter-mapping>

    <!-- Jasper JSP configuration -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
</web-app>